.highlighter-rouge pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  margin: 1em 0;
}

code {
  color: rgb(51, 51, 51);
}


.highlighter-rouge {
  background: #ffffff
}

.highlighter-rouge .c {
  color: #999988;
  font-style: italic
}

.highlighter-rouge .err {
  color: #a61717;
  background-color: #e3d2d2
}

.highlighter-rouge .k {
  font-weight: bold
}

.highlighter-rouge .o {
  font-weight: bold
}

.highlighter-rouge .cm {
  color: #999988;
  font-style: italic
}

.highlighter-rouge .cp {
  color: #999999;
  font-weight: bold
}

.highlighter-rouge .c1 {
  color: #999988;
  font-style: italic
}

.highlighter-rouge .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic
}

.highlighter-rouge .gd {
  color: #000000;
  background-color: #ffdddd
}

.highlighter-rouge .gd .x {
  color: #000000;
  background-color: #ffaaaa
}

.highlighter-rouge .ge {
  font-style: italic
}

.highlighter-rouge .gr {
  color: #aa0000
}

.highlighter-rouge .gh {
  color: #999999
}

.highlighter-rouge .gi {
  color: #000000;
  background-color: #ddffdd
}

.highlighter-rouge .gi .x {
  color: #000000;
  background-color: #aaffaa
}

.highlighter-rouge .go {
  color: #888888
}

.highlighter-rouge .gp {
  color: #555555
}

.highlighter-rouge .gs {
  font-weight: bold
}

.highlighter-rouge .gu {
  color: #800080;
  font-weight: bold
}

.highlighter-rouge .gt {
  color: #aa0000
}

.highlighter-rouge .kc {
  font-weight: bold;
  color: rgb(198, 21, 206);
}

.highlighter-rouge .kd {
  font-weight: bold
}

.highlighter-rouge .kn {
  font-weight: bold
}

.highlighter-rouge .kp {
  font-weight: bold
}

.highlighter-rouge .kr {
  font-weight: bold
}

.highlighter-rouge .kt {
  color: #445588;
  font-weight: bold
}

.highlighter-rouge .m {
  color: #009999
}

.highlighter-rouge .s {
  color: #dd1144
}

.highlighter-rouge .n {
  color: #333333
}

.highlighter-rouge .na {
  color: teal
}

.highlighter-rouge .nb {
  color: #0086b3
}

.highlighter-rouge .nc {
  color: #445588;
  font-weight: bold
}

.highlighter-rouge .no {
  color: teal
}

.highlighter-rouge .ni {
  color: purple
}

.highlighter-rouge .ne {
  color: #990000;
  font-weight: bold
}

.highlighter-rouge .nf {
  color: #990000;
  font-weight: bold
}

.highlighter-rouge .nn {
  color: #555555
}

.highlighter-rouge .nt {
  color: navy
}

.highlighter-rouge .nv {
  color: teal
}

.highlighter-rouge .ow {
  font-weight: bold
}

.highlighter-rouge .w {
  color: #bbbbbb
}

.highlighter-rouge .mf {
  color: #009999
}

.highlighter-rouge .mh {
  color: #009999
}

.highlighter-rouge .mi {
  color: #009999
}

.highlighter-rouge .mo {
  color: #009999
}

.highlighter-rouge .sb {
  color: #dd1144
}

.highlighter-rouge .sc {
  color: #dd1144
}

.highlighter-rouge .sd {
  color: #dd1144
}

.highlighter-rouge .s2 {
  color: #dd1144
}

.highlighter-rouge .se {
  color: #dd1144
}

.highlighter-rouge .sh {
  color: #dd1144
}

.highlighter-rouge .si {
  color: #dd1144
}

.highlighter-rouge .sx {
  color: #dd1144
}

.highlighter-rouge .sr {
  color: #009926
}

.highlighter-rouge .s1 {
  color: #dd1144
}

.highlighter-rouge .ss {
  color: #990073
}

.highlighter-rouge .bp {
  color: #999999
}

.highlighter-rouge .vc {
  color: teal
}

.highlighter-rouge .vg {
  color: teal
}

.highlighter-rouge .vi {
  color: teal
}

.highlighter-rouge .il {
  color: #009999
}

.highlighter-rouge .gc {
  color: #999;
  background-color: #EAF2F5
}